<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.PermissionMapper">
    <!--先根据role查role_permission表查到对应的permissionid,再根据permission表里的permissionid查到对应的路由信息  -->
    <select id="SelectPermissionByRole" resultType="com.example.pojo.Permission">
        select * from permission
        where id in
        (select permission_id
         from role_permission
         where role = #{role}
        );
    </select>
</mapper>